export http_proxy=http://sys-proxy-rd-relay.byted.org:3128  https_proxy=http://sys-proxy-rd-relay.byted.org:3128 no_proxy=code.byted.org
export HTTP_PROXY=http://sys-proxy-rd-relay.byted.org:8118  HTTPS_PROXY=http://sys-proxy-rd-relay.byted.org:8118 NO_PROXY=code.byted.org

